%div{style: "min-height:600px;"}
  %h1
    Patent Examination Data System by USPTO
  %a{href: "https://ped.uspto.gov/peds/", target: "_blank"}
    link
  %p
    = link_to "検索履歴", :search_records

  %form{:action => "/search_records", :method => "post"}
    Title:
    %input{:name => "word", :size => "40"}
    %br
    %input{:type => "submit", :value => "send"}