%div{style: "min-height:600px;"}

  - i = 0
  - until @results["assignees"][i] == nil do
    - begin
    
      = @results["assignees"][i]["assignee_first_name"]
      = @results["assignees"][i]["assignee_last_name"]
      %b

      - i += 1
